{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block main %}

<div class="container" id="main-chat-page">

    <!-- LOGIN FORM -->
    <div class="row justify-content-center">
        <div class="col-md-6 p-5 shadow mt-5 bg-dark text-light">
            <form class="form" id="login-form" >
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 pb-3">Login</legend>
                    <div class="form-group">
                        <label class="form-control-label" for="username">Username</label>                            
                        <input autofocus class="form-control form-control-lg" id="username" name="username" required type="text" value="">                            
                    </div>
                    <div class="form-group text-center">
                        <input class="btn btn-outline-info btn-block" id="login-btn" name="submit" type="submit" value="Login">
                    </div>
                </fieldset>        
            </form>
        </div>
    </div>
    <!-- END LOGIN FORM -->

    <div class="row my-4">
        <div class="col-md-3">
            <input type="text" placeholder="Room name" id="room-name" class="form-control">
        </div>
        <div class="col-md-3">
            <a class="btn btn-outline-info" id="create-room">CREATE ROOM</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-outline-warning" id="leave-room">LEAVE ROOM</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-outline-warning" id="logout-btn">LOGOUT</a>
        </div>
    </div>
    
    <div class="row my-5 no-gutters">
        <div class="col-md-8 order-2">
            <main id="main-chat">                
            </main>
        </div>
        <div class="col-md-2 order-1">
            <aside >
                <ul class="list-group" id="room-list">
                </ul>
            </aside>
        </div>
        <div class="col-md-2 order-3">
            <aside >
                <ul class="list-group" id="user-list">  
                </ul>
            </aside>
        </div>
    </div>    
    
    <form id="messageForm">
        <div class="form-row">
            <div class="col-md-10">
                <div class="form-group">                    
                    <input autocomplete="off" autofocus class="form-control form-control-lg" id="message" name="message" type="text" value="">                    
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="btn btn-success btn-lg btn-block" id="submit" name="submit" type="submit" value="Send">
                </div>
            </div>
        </div>
            
    </form>      
</div>

<script>
    all_rooms = `{{ rooms }}`
</script>


{% endblock main %}